{#- This query is an implicit version of 'get every potential rule
that was found that matched a keyword-based rule' -#}
CREATE OR REPLACE VIEW opioid__{{ steward }}_included_keywords AS
SELECT
    r.rxcui1,
    r.rxcui2,
    r.tty1,
    r.tty2,
    r.rui,
    r.rel,
    r.rela,
    r.str1,
    r.str2,
    r.keyword
FROM opioid__{{ steward }}_potential_rules AS r
WHERE
    r.REL NOT IN ('RB', 'PAR')
{#- The following is :probably: safe to check for greater than zero, but we are
leaving it for now to match the source query. We can revisit again later. #}
    AND length(r.keyword) >= 4

