DATASET=opioid
README="https://www.nlm.nih.gov/research/umls/rxnorm/docs/index.html"

DB_USER=umls
DB_PASS=umls
DB_HOST="localhost" 
DB_PORT="3306"

# MYSQL_HOME="/usr/local/Cellar/mysql/5.7.11"
mysql_dataset="mysql  --auto-rehash -D $DATASET -u $DB_USER -p$DB_PASS -h $DB_HOST --port $DB_PORT --local-infile --auto-rehash"
